html, body {
  width: 1080; 
  height: 50;
  vertical-align: baseline;
  background: transparent;
}

@font-face {
  src: url(Resetspacelowup-RomanGX.ttf);
  font-family: vf;
}

@font-face {
  src: url(ABCFavoritMono-Regular-Trial.otf);
  font-family: abcfavorite;
}

@font-face {
  
  src: url(ABCFavoritMono-RegularItalic-Trial.otf);
  font-family: abcfavoriteitalic;
}


canvas {
  display: block;
}
.text1 {
  font-size: 24px;
  line-height: 100px;
  font-family: abcfavorite;
  position: relative;
}

.text1 {
  position: fixed;
  bottom: 700px;
  left: 75px;
  margin: 0;
  width: 300px;
  color: #3FA058;
}

.text2 {
  font-size: 24px;
  line-height: 1;
  font-family: abcfavoriteitalic;
  position: relative;
  
}

.text2 {
  position: fixed;
  bottom: 650px;
  left: 75px;
  width: 900px;
  color: #3FA058;
}

.text3 {
  font-size: 24px;
  line-height: 1;
  font-family: abcfavoriteitalic;
  position: relative;
}

.text3 {
  position: fixed;
  bottom: 20px;
  left: 75px;
  width: 900px;
  color: #3FA058;
}

#div1 {
  font-size: 725px;
  font-family: vf;
  color: #3FA058;
  overflow: visible;
  line-height: 2;
  
}

.marquee3k {
  position: fixed;
  bottom: 450px;
  height: 0px;
  z-index: -1;
  font-variation-settings: "wght" 500;
}

.marquee3k{
    animation-name: weight;                
    animation-duration: 5s;              
    animation-iteration-count: infinite;  
}

@keyframes marquee3k {
  from {
    font-variation-settings: "wght" 100;
  }
  to {
    font-variation-settings: "wght" 900;
  }
}

.marquee3k {
  font-family: "ResetGX";
  transition: font-variation-settings 0.3s ease;
  animation-name: marquee3k;
  animation-duration: 1.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}





.Gradient {
 position: fixed;
  border: 0px solid;
  bottom: 0px;
  left: 0;
  z-index: 1;
}

.Gradient1 {
 position: fixed;
  border: 0px solid;
  bottom: 0px;
  right: 0;
  z-index: 1;
}
